{% extends 'base.html' %}

<h1>{% block title %} Python docker app {% endblock %}</h1>

{% block body %}
<body class="{{ mode }}">
    <div class="content">
        <h2>Hello World</h2>
        <div class="col">
            <div style="padding: 10px; margin: 10px">
                {% for message in messages %}
                <div>
                    <p style="font-size: 20px">#{{ loop.index }}: {{ message }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
{% endblock %}
